body {
	font-size: 15px;
	margin: 0;
}
.container{
	width: 25em;
	border: solid 1px #000;
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
}

.commitsContainer {
	font-size: .8em;
}

.commitsContainer .dateHeader {
    font-size: 1em;
    margin: .3em 0 0 0;
}
.commitsContainer .notes {
    margin: .3em 0 0 0;
	font-style: italic;
    font-size: .9em;
}
.commitsContainer .comment {
    margin: .3em 0 0 0;
}
.commitsContainer .revisionItem {
	margin-bottom: 10px;
}
.commitsContainer h3 {
    margin: .3em 0 0 0;
	font-size: 1em;
	font-weight: normal;
}
.commitsContainer .rowDivider{
	height: .1em;
	border-top: dashed .1em #CCC;
}